<!--Author: Christopher Chantres
    Student ID: 301217642
    Date: Jan 2, 2022
 ---> 


<p> This is from the Footer -----------------------------------------</p>>
    <script src="jquery/dist/jquery.slim.min.js"></script>    
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>    
    <script src="javascripts/app.js"></script>    
</body>
</html>
