<!--Author: Christopher Chantres
    Student ID: 301217642
    Date: Jan 2, 2022
 ---> 
 <% include partials/header.ejs %>

<main>
    <div class="d-flex justify-content-center flex-column text-center">
      <div class="">
        <img class="" width="350" src="https://i.ibb.co/ydZp1zj/aboutme-christopher.png" alt="christopher-image">
      </div>
      <h1>Hi there!</h1>
      <h3>I am Christopher Manuel Chantres Hernandez</h1>
      <p class="fs-5">I was born in Mexico, I've lived in Puebla, Mexico City, and Puerto Valllarta, I recently moved to Canada, here I'm studying Artificial Intlligence, since I was in High School I've been programming and doing all this <span class="fw-bold">true magic</span> things with code. My first programming languague was <span class="fw-bold">C</span> and now I'm learning Java, Python and Javascript.</p>
    </div>
    <hr>
    <div class="d-flex justify-content-center flex-column text-center mt-5">
      <h3>Hey! Download my Resume</h3>
      <p>
        <a class="btn btn-primary fw-bold" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Drop Resume
      </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body text ">
          <p class="h4 bg-info">This is my resume, enjoy it!</p>
          <hr>
          <iframe height="800" src="https://www.docdroid.net/7jeWRGu/christopher-cv-pdf" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </main>


<% include partials/footer.ejs %>    