<!--Author: Christopher Chantres
    Student ID: 301217642
    Date: Jan 2, 2022
 ---> 
 <% include partials/header.ejs %>


 <h1><%= title %></h1>
 <p>Welcome to Projects <%= title %></p>

<main>
    <div class="me-container">
      <img src="" alt="">
      <h1>Hi there!</h1>
      <h3>Christopher Manuel Chantres Hernandez</h1>
      <p>I was born in Mexico, I've lived in Puebla, Mexico City, and Puerto Valllarta, I recently moved to Canada, here I'm studying Artificial Intlligence, since I was in High School I've been programming and doing all this <span>truly magic</span> things with code. My first programming languague was <span>C</span> and now I'm learning Java, Python and Javascript.</p>
    </div>
    <div class="resume">
      <h3>Hey! Download my CV</h3>
      <a href="" download="">Christopher's CV</a>
    </div>
  </main>


<% include partials/footer.ejs %>    