<!--Author: Christopher Chantres
    Student ID: 301217642
    Date: Jan 2, 2022
 ---> 
 <% include partials/header.ejs %>


 <h1><%= title %></h1>
 <p>Welcome to Projects <%= title %></p>
<p2>This contains information for keeping in touch with me</p2>

<% include partials/footer.ejs %> 