<!--Author: Christopher Chantres
    Student ID: 301217642
    Date: Jan 2, 2022
 ---> 
<% include partials/header.ejs %>


      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <h2>This is Portfolio profile. This is an example using ExpressJS</h2>
      <main>
            <div class="me-container">
              <img src="https://i.ibb.co/NCt35HX/christopher.png" alt="">
              <h1>Welcome to</h1>
              <h1>Christopher's Portfolio</h1>
              <p>I am an AI sowftware student at Centennial College, here you can find where I've been working, what I've developed and what I'm learning now</p>
            </div>
      
            <div class="container">
              <div class="about-me">
                <h2>Do you want to know more about me?</h2>
                <a href="/about">About me!</a>
              </div>
              <div class="my-projects">
                <h2>Some projects here!</h2>
                <a href="/projects">My projects</a>
              </div>
              <div class="mission-statement">
                <h2>Then what!</h2>
                <p>With the skills that I'll get all these courses I'll develop my technology company that will provide AI services, I trust that we are always in a process of learning new things.</p>
              </div>
            </div>
          </main>

<% include partials/footer.ejs %>      