<!--Author: Christopher Chantres
    Student ID: 301217642
    Date: Jan 2, 2022
 ---> 
<% include partials/header.ejs %>


      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <h2>This is Portfolio profile. This is an example using ExpressJS</h2>
      <h2>The current course is Web Development</h2>

<% include partials/footer.ejs %>      