<!--Author: Christopher Chantres
    Student ID: 301217642
    Date: Jan 2, 2022
 ---> 
<% include partials/header.ejs %>

      <main>
        <div class="d-flex justify-content-center flex-column text-center">
          <img class="mx-auto d-block" width="400" src="https://i.ibb.co/NCt35HX/christopher.png" alt="">
          <h1>Welcome to</h1>
          <h1>Christopher's Portfolio</h1>
          <div class="text-left">
            <h4 class="">I am an AI sowftware student at Centennial College, here you can find where I've been working, what I've developed and what I'm learning now</h4>
          </div>
          <hr>
        </div>
  
        <div class="d-flex justify-content-center flex-column text-center mt-5">
          <div class="text-right">
            <h2>Do you want to know more about me?</h2>
            <a class="btn btn-primary" href="/about">About me!</a>
          </div>
          <div class="text-right mt-3">
            <h2>Some projects here!</h2>
            <a class="btn btn-primary" href="/projects">My projects</a>
          </div>
          <hr>
          <div class="d-flex flex-column text-right mt-5">
            <h2>Then what!</h2>
            <p class="h5 mb-5">With the skills that I'll get in all these courses I'll develop my technology company that will provide AI services, I trust that we are always in a process of learning new things.</p>
          </div>
        </div>
        </main>

<% include partials/footer.ejs %>      