<!--Author: Christopher Chantres
    Student ID: 301217642
    Date: Jan 2, 2022
 ---> 
<% include partials/header.ejs %>

<main>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.aceinfoway.com%2Fblog%2Fwp-content%2Fuploads%2F2020%2F03%2FBest-Database-to-work-with-in-2020.jpg&f=1&nofb=1" class="d-block w-60" alt="...">

            </div>
            <div class="carousel-item">
                <a href="https://www.banxico.org.mx/servicios/sistema-pagos-electronicos-in.html">
                    <img src="https://milito.mx/wp-content/uploads/2020/04/spei.png" class="d-block w-60" alt="" >
                </a>

            </div>
            <div class="carousel-item">
                <a href="https://www.telcel.com">
                    <img src="https://i.ibb.co/Ttc8vH6/telcel.jpg" class="d-block w-60" alt="...">
                </a>

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="false"></span>
        <span class="badge bg-primary text-wrap">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="false"></span>
        <span class="badge bg-primary text-wrap">Next</span>
        </button>

  </div>
  <hr>
  <div class="mt-5">
      <div class="text-center">
        <h2>Creating powershell scripts to backup 150 servers 2012-2019 IT analyst Telcel <a class="fw-bold text-black" href="http://www.telcel.com">http://www.telcel.com</a></h2>
      </div>
    <p class="fs-2 mt-5">
        As an IT analyst, I worked as a support engineer for Windows and Linux servers. I created PowerShell scripts
        in order to automate events and tasks.
        I installed and configured the servers to mount in each business unit using VMware 5.5.
        I managed consoles like Kaspersky, SCCM, and Active Directory.
        I designed and I created databases for the users of the commission department.
    </p>
  </div>
  </main>


<% include partials/footer.ejs %>    