<!--Author: Christopher Chantres
    Student ID: 301217642
    Date: Jan 2, 2022
 ---> 
 <% include partials/header.ejs %>

<main class="justify-content-center">
    <h1>These are the services that I provide</h1>
    <div class="d-flex flex-row mb-5">
        <div class="card ms-5" style="width: 18rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F3.bp.blogspot.com%2F-a7jPVdFk9Hw%2FW_XeTJX6JyI%2FAAAAAAAAC2c%2FHCtxP0wSSs0wEMKJOYq7pivEJaSVin92gCLcBGAs%2Fs1600%2Fpowershell.png&f=1&nofb=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Automate with Powershell</h5>
              <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse0" role="button" aria-expanded="false" aria-controls="collapseExample">
                  See more
                </a>
              </p>
              <div class="collapse" id="collapse0">
                <div class="card card-body">
                    I am able to write sripts in PowerShell to automate proccess and safe time while I'm doing another scripts.
                </div>
              </div>
            </div>
          </div>
          <div class="card ms-5" style="width: 18rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.bruker.com%2Fen%2Fproducts-and-solutions%2Finfrared-and-raman%2Fopus-spectroscopy-software%2Fdatabase%2F_jcr_content%2FteaserImage.coreimg.jpeg%2F1594725147750%2Fdatabase-icon.jpeg&f=1&nofb=1" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Database Admin</h5>
                <p>
                  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">
                    See more
                  </a>
                </p>
                <div class="collapse" id="collapse1">
                  <div class="card card-body">
                      I am able to create schemas and all kind of tables to connect the data.
                  </div>
                </div>
              </div>
          </div>
          <div class="card ms-5" style="width: 18rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.07Vok_cORTqAfUs_yeExmAHaHl%26pid%3DApi&f=1" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">IT Support</h5>
                <p>
                  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
                    See more
                  </a>
                </p>
                <div class="collapse" id="collapse2">
                  <div class="card card-body">
                      I am able to help other people when they are stuck, explaining them how to solve their problem.
                  </div>
                </div>
              </div>
          </div>
    </div>
</main>

<% include partials/footer.ejs %>    